<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lat</key>
		<real>43.660439</real>
		<key>lon</key>
		<real>-79.385525</real>
		<key>station id</key>
		<string>7006</string>
		<key>station name</key>
		<string>Bay St / College St (East Side)</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>43.660087</real>
		<key>lon</key>
		<real>-79.385655</real>
		<key>station id</key>
		<string>7235</string>
		<key>station name</key>
		<string>Bay St / College St (West Side) - SMART</string>
	</dict>
</array>
</plist>
